.env
app/__pycache__/
app/api/__pycache__/
app/models/__pycache__/
app/schemas/__pycache__/
app/services/__pycache__/
venv/
alembic/__pycache__/
alembic/versions/__pycache__/
.DS_Store
generated_images/